#menu {
    float: right;
    background-color: #edf0f0;
    height: 100%;
    width:100%;
    color: #2c74ac;
  }
  
  .menu-item {
    margin:auto;
    padding-left: 20px;
    padding-bottom: 20px;
  }
  
  hr.solid{
    border-top: 1px solid #ef9f76;
  }
  
  button{
    display: block !important;
    background-color: #4b8eb9 !important;
    color: white;
    border: 2px solid #4b8eb9 !important;
    margin: 10px !important;
    margin-left: 0 !important;
    /* width: 100px; */
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }