* {
  margin: 0;
  padding: 0;
}

/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content {
  /* height: 82vh !important; */
  /* width: 100vw; */
}

.parentRow {
  width: 100%;
  height: 100%;
}

.left_content{ 
  width: 100%;
}

.row {
  width: 100%;
  height: 100%;
}

.title-row{
  height: 17vh;
  background: rgb(176,136,189);
  background: linear-gradient(177deg, rgba(176,136,189,1) 0%, rgba(61,136,193,1) 100%);
}

.info-row{
  /* height: 80%; */
}

.title-row .card{
  height: 100%;
  border-radius: 0%;
}

.info_box {
  height: 100%;
}

.full_height{
  height: 100% !important;
}

.data {
  list-style: square;
  /* overflow-y: scroll; */
}

.buttonsRow{
  width: 100%;
}

.map_image {
  width: 100%;
}

.legend {
  width: 70%;
}
